* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
min-height: 100vh;
}

.image1 {
position: absolute;
top: 0;
right: 0;
left: 0;
width: 100%;
object-fit: contain;
z-index: -1;
}

.image2 {
position: absolute;
right: 0;
left: 0;
width: 100%;
align-content: baseline;
height: 496px;
object-fit: cover;
transform: scaleX(-1) scaleY(-1);
z-index: 0;
filter: drop-shadow( 4px 4px 30px rgba(182, 199, 255, 0.713));
}

.image3 {
position: absolute;
right: 0;
left: 0;
bottom: 0;
width: 100%;
transform: scaleX(-1) scaleY(-1);
}

main {
display: flex;
flex-direction: column;
background-color: white;
width: 450px;
height: 700px;
border: none;
border-radius: 20px;
z-index: 100;
overflow: hidden;
box-shadow: ;
}

main .description {
display: flex;
flex-direction: column;
align-items: center;
}

main .description .title {
font-size: 28px;
margin-top: 48px;
}

main .description .text-content {
width: 300px;
color: hsl(224, 23%, 55%);
line-height: 1.6;
text-align: center;
margin-top: 16px;
}

main .small-card {
display: flex;
flex-direction: row;
width: 350px;
height: 100px;
background-color: hsl(225, 100%, 98%);
border-radius: 12px;
margin-top: 20px;
align-items: center;

}

main .small-card img {
margin: 22px;
}

main .small-card .plan {
flex: 1;
}

main .small-card .plan h2 {
margin-bottom: 4px;
font-weight: 900;
}

main .description .small-card .plan p {
color: hsl(224, 23%, 55%);
}

main .description .small-card .change {
font-size: 14px;
color: hsl(245, 75%, 52%);
text-decoration: underline;
font-weight: 900;
padding-right: 24px;
}

main .description .payment {
font-size: 16px;
width: 350px;
height: 50px;
color: white;
background-color: hsl(245, 75%, 52%);
border: none;
border-radius: 10px;
margin-top: 32px;
box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.337);
}

main .description .cancel {
font-size: 14px;
font-weight: 900;
color: hsl(224, 23%, 55%);
background: none;
border: none;
border-radius: 10px;
margin-top: 32px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }